body{
    font-family: sans-serif;
    display: grid;
    background-image: url("https://i.ytimg.com/vi/yz2-qYBtQ74/mqdefault.jpg");
    background-position: center;
    background-repeat:round;
    background-size: cover;
}
main{
    margin: auto;
}
h1{
    text-align: center;
}
form{
    margin: auto;
    background-color: rgba(46, 46, 46, 0.2);
}
.signin{
    margin: 5px;
    padding: 3px;
    display: block;
}

.signinform{
    display: block;
    padding: 5px;
    outline: auto;
    outline-width: 3px;
    outline-style:groove;
    border-radius: 7px;
}

.radio{
    display: inline;
    margin: auto;
    
}

.task{
    width: 500px;
}