body{
    font-family: sans-serif;
    display: grid;
}
main{
    margin: auto;
}
h1{
    text-align: center;
}
form{
    margin: auto;
}
.signin{
    margin: 5px;
    padding: 3px;
    display: block;
}

.signinform{
    display: block;
    padding: 5px;
    outline: auto;
}

.radio{
    display: inline;
    margin: auto;
    
}

.task{
    width: 500px;
}